nav{    
    box-shadow: 0px 1px 16px 1px gray;        
}

select{
    cursor: pointer;
}

.btn.btn-primary{
    background-color: black;
    color: aliceblue;
    border-color: black;
}

.btn.btn-secondary{
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    border-color: rgb(56, 56, 56);
}

button:disabled{
    color: aliceblue;
    background-color: gray;
    border-color: gray;
}

.btn.btn-primary:hover{
    background-color: rgb(199, 2, 2);
    color: white;
    border-color: rgb(199, 2, 2);
}

#signaturePad{
    border: gray solid 1px;
}

@media (max-width: 900px) {
    img{
        height: 30px;
    }  
    #listProyectos{
        justify-content: center;
        padding: 0%;
        margin: 0%;
    }    
    .navbar-toggler{
        background-color: white;
    } 
    .navbar-toggler:hover{
        background-color: white;
        border-color: white;
    }
}